# Backend
backend/vendor/
backend/.env
backend/.phpunit.result.cache
backend/storage/logs/*.log
backend/docker/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.quasar/
frontend/.env
frontend/public/icons/

# Misc
.DS_Store
.thumbs.db
.env
backend/scripts/
.phpunit.result.cache
vendor/
docker/
sail
timeline.txt
