# Backend
backend/vendor/
backend/.env
backend/.phpunit.result.cache
backend/storage/logs/*.log
backend/docker/

# Misc
.DS_Store
.thumbs.db
.env
backend/scripts/
.phpunit.result.cache
vendor/
docker/
sail
timeline.txt
